@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --orange: #ffa500;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    background: #ffffff;

}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #ffffff;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
}

/* .header{
    width: 100%;
    min-height: 100vh;
    background: ffffff;
    color: #525252;
    
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    width: 100%;
    height: 4.5rem;
    background-color: #333;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

/* header .logo span{
    color:var(--orange);
  }
  
  header .navbar a{
    color:#fff;
    font-size: 2rem;
    margin:0 .8rem;
  }
  
  header .navbar a:hover{
    color:var(--orange);
  }
  
  header .icons i{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-right: 2rem;
  }
  
  header .icons i:hover{
    color:var(--orange);
  }
   */

.logo {
    width: 50px;
    cursor: pointer;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.navbar ul {
    width: 100%;
    text-align: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    position: relative;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.navbar ul li a:hover {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    position: absolute;
}

#owner {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
    font-weight: bold;
    white-space: nowrap;
    font-size: 18px;
    cursor: pointer;
    text-transform: capitalize;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar .search {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
}

/* search btn */
/* .search-box{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.search-box input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    font-size: 1.25em;
    background: #fff;
    border-radius: 1px solid rgba(0,0,0,0.5);
} */


/* home-section */
.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.home-section h1 {
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.048em;
    font-weight: 600;
    color: #101820FF;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

/* slider */


.header .home .home-slider .swiper-slide {
    overflow: hidden;
    border-radius: .5rem;
    height: 65vh;
    width: 30vw;
}

.header .home .home-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* about section */



/* .about-content .ab-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    letter-spacing: 1.5px;
    padding: 50px 0;
}

.about-content .ab-title h2::after{
    content: '';
    height: 4px;
    width: 110px;
    background-color: #525252;
    border: 6px;
    position: relative;
    display: block;
    margin: auto;
}

.about-contents{
     width: 85%;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-gap: 40px;
     margin: 30px auto;
}

.about-contents .ab-article{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    background-color: #eee;
    padding: 25px;
}

.about-contents .ab-article h3{
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.about-contents .ab-article p{
    font-size: 19px;
    line-height: 1.5;
}

.about-img{
    width: 100%;
    margin: auto;
    box-shadow: #444;
}

.about-img img{
    width: 100%;
    height: auto;
} */


.about-content .ab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 27px;
    cursor: pointer;
}

.about-content .ab-title h1 {
    font-size: 30px;
}

.about-content .ab-title span {
    color: #00c6ff;
}

.about-content .ab-title h1::after {
    content: '';
    width: 70%;
    height: 3px;
    background: #475462;
    display: block;
    margin: 5px auto;
    position: relative;

}

.about-contents {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.about-contents .ab-article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-contents .ab-article .about-img img {
    width: 200px;
    height: 200px;
}



/* services */

.service .title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.service .title h1 {
    font-size: 30px;
}

.service .title span {
    color: #00539CFF;
}

.service .title h1::after {
    content: '';
    width: 150px;
    height: 3px;
    position: relative;
    border: 6px;
    margin: 8px auto;
    background-color: #475462;
    display: block;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.service-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #f3f6f3;
    text-align: center;
    margin: 15px;
    padding: 20px;
    transition: .3s;
}

.service-box h3 {
    text-transform: capitalize;
}

.service-container i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-color: #00539CFF;
    color: #fff;
}

.service-container .fas {
    font-size: 30px;
}

.service-container .service-box:hover {
    background: #00c6ff;
    cursor: pointer;
    color: #fff;
}

/* our gallery  */

.gallery .gallery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.gallery .gallery-title h2 {
    font-size: 30px;
}

.gallery .gallery-title h2::after {
    content: '';
    width: 70%;
    height: 3px;
    position: relative;
    display: block;
    background-color: #475462;
    margin: 8px auto;

}

.gallery .gallery-title span {
    color: #00c6ff;
}


.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* background: #000; */

}

.gallery-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;

}


.gallery-row img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
    padding: 8px;
    border-radius: 20px;
    transition: transform .2s;


}

.gallery-row img:hover {
    transform: scale(1.3);
}



/* price section */

.pricing .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.pricing {
    font-family: 'Roboto', sans-serif;
}

.pricing .title h1 {
    font-size: 30px;
}

.pricing .title span {
    color: #00539CFF;
}

.pricing .title h1::after {
    content: '';
    width: 75%;
    height: 3px;
    display: block;
    background-color: #475462;
    margin: 8px auto;
    position: relative;
}

.pricing .price-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    margin: 3rem;

}

.pricing .price-container .price-box {
    /* padding: 2rem 0;
    background: #333;
    border-radius: 0.5rem;
    text-align: center; */
    padding: 2rem 0;
    background: #00539CFF;
    border-radius: .5rem;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    */
}

.pricing .price-container .price-box:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


.pricing .price-container .price-box .price-title {
    color: #fff;
    padding: 1.1rem 0;
    font-size: 2rem;
    background: #333;
    margin-bottom: 1rem;
}

.pricing .price-container .price-box .price-title,
.price-amount {
    color: #fff;
    font-size: 2rem;
}

.pricing .price-container .price-box ul {
    list-style: none;
    padding: 0.8rem 0;
}

.pricing .price-container .price-box ul li {
    font-size: 1.5rem;
    color: #eeee;
    /* padding: 0.8rem 0; */
    text-transform: capitalize;
}

.pricing .price-container .price-box ul li i {
    padding-right: .5rem;
    font-size: 1.5rem;
}

.pricing .price-container .price-box .priceBtn {
    text-decoration: none;
    border: 2px solid #eeee;
    padding: 10px 20px;
    font-weight: bold;
    color: #eee;
    border-radius: 15px;
}

.pricing .price-container .price-box .priceBtn:hover {
    color: #fff;
    background: #0080ff;
    border: none;
    cursor: pointer;

}

.pricing .price-container .price-box:hover {
    transform: scale(1.03);
}


.pricing .option {
    margin: 4rem 0;
}

/* 
.pricing .option span{
    font-size: 25px;
    margin: 5rem 0;
} */


.pricing .option a {
    text-decoration: none;
    border: 2px solid #eeee;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 15px;
    text-transform: capitalize;
}

.pricing .option a:hover {
    background: blue;
    color: #fff;
}

/* review css starts here */

.review .review-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 4rem;
}

.review .review-title span {
    color: #00539CFF;
}

.review .review-title h3::after {
    content: '';
    width: 80%;
    height: 3px;
    display: block;
    background-color: #475462;
    margin: auto;
    position: relative;
}

.review .review-slider .review-wrapper {
    padding: 1rem 2rem;
}

.review .review-slider {
    display: flex;
    justify-content: center;
    align-items: center;

}


.review .review-slider .box {
    background-color: #f3f6f3;
    border-radius: .5rem;
    padding: 3rem 2rem;
    text-align: center;
    margin: 0.5rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    min-width: 30rem;
    height: 20rem;
    z-index: -1;
}

.review .review-slider .box img {
    text-align: center;
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border: 4px solid #0080ff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.review .review-slider .box p {
    margin: 1rem 0;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;

}

.review .review-slider .box h3 {
    margin-bottom: 5px;
    font-size: 25px;
}

.review .review-slider .box .stars {
    color: #007aff;
}

/* review section ends here */


/* footer section starts here */
footer {
    margin-top: 30px;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.contact-info,
.social-media,
.hours {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.contact-info h4,
.social-media h4,
.hours h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.social-media li {
    margin: 0 10px;
}

.social-media a {
    color: white;
}

.social-media a:hover {
    color: #007aff;
}

.copy-right {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.copy-right hr {
    border: 0;
    height: 1px;
    background-color: white;
    margin: 10px 0;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-info,
    .social-media,
    .hours {
        flex-basis: 100%;
        text-align: left;
    }

    .social-media ul {
        justify-content: flex-start;
    }

    .social-media li {
        margin: 0 5px;
    }
}

/* contact us css */
.contact-us-section {
    display: flex;
    align-items: flex-start;
    margin-left: 10rem;
    margin-top: 30px;
}

#contact-form {
    width: 50%;
}

.map-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#map {
    width: 50%;
    height: 400px;
    margin-left: 10rem;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .contact-us-section {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    #contact-form,
    #map {
        width: 100%;
        margin-left: 0;
    }
}

.contact-field {
    margin-top: 20px;
}

.form-group #name,
#email,
#phone,
#text-message {
    width: 25rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
}

#text-message {
    height: 100px;
    /* set a height for the textarea */
}

#bird {
    /* background-color: #007bff; */
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.swal-button--confirm {
    background-color: #007aff !important;
}